/* #3b769f */
/* #f1f4f6 */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

nav {
    font-weight: 800;
}

.textBoxes {
    /* background-color: #f1f4f6!important; */
    background-color: white;
}

#jakoscText {
    font-weight: 600;
}

#onasMore {
    display: none;
}

@media (min-width: 0px) {
    .textBoxes{font-size: 1.2rem;}
}
@media (min-width: 768px) {
    .textBoxes{font-size: 1.4rem;}
}

h1 {
    font-weight: 600;
}

#miniatureNavLogo {
    height: 50px;
}

#emblemLogo {
    height: 100px;
}

.btnReadMore {
    border-color: #3b769f;
    font-weight: 400;
    color: #3b769f;
}

.btnReadMore:hover {
    background-color: #3b769f;
    color: white;
}

#statutMore {
    display: none;
}
#zarzadPodtytul {
    font-weight: 700;
}
/* #zarzadMore {
    display: none;
} */
/* 
#radaMore {
    display: none;
} */

.kontaktLink {
    color: #343a40;
    text-decoration: none;
}
.kontaktLink:hover {
    color: #232930;
    text-decoration: underline;
}

#footerSection {
    background-color: #24292e;
}
.footerText {
    color: #ffffffb3;
}
.footerLink {
    text-decoration: none;
    color: #ffffffb3;
}
.footerLink:hover {
    text-decoration: underline;
    color: #eeeeeeb3;
}
#authorNotice {
    font-size: 0.8rem;
}