/* #3b769f */
/* #f1f4f6 */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

nav {
    font-weight: 800;
}

.textBoxes {
    background-color: #f1f4f6!important;
    font-size: 1.4rem;
}

h1 {
    font-weight: 600;
}

#miniatureNavLogo {
    height: 50px;
}

#emblemLogo {
    height: 100px;
}

.btnReadMore {
    border-color: #3b769f;
    font-weight: 400;
    color: #3b769f;
}

.btnReadMore:hover {
    background-color: #3b769f;
    color: white;
}

#onasMore {
    display: none;
}

#kontaktMore {
    display: none;
}

#statutMore {
    display: none;
}

#zarzadMore {
    display: none;
}

#radaMore {
    display: none;
}

#footerSection {
    margin-top: 20px;
    background-color: #24292e;
}
.footerText {
    color: #ffffffb3;
}
.footerLink {
    text-decoration: none;
    color: #ffffffb3;
}
.footerLink:hover {
    text-decoration: underline;
    color: #eeeeeeb3;
}